/* **************************************** *
 * BUTTON
 * **************************************** */
/*새로*/
:root {--color-gray1: #212126;--color-gray2: #36363D;--color-gray3: #57575B;--color-gray4: #62626A;--color-gray5: #797981;--color-gray6: #919197;--color-gray7: #AAAAAE;--color-gray8: #DBDBDB;--color-gray9: #E9E9E9;--color-gray10: #FFFFFF;--color-blue1: #125DE6;--color-blue2: #A9C7FF;--color-blue3: #E9F1FF;--color-blue4: #F6F8FC;--color-green: #0FD2D0;--color-red: #FA2828;--width-max: 1200px;
    --color-bg: #ecf0f7;--color-red: #ff2525;--color-red-bg: #feeeee;--color-red-border: #fedada;--color-green: #40a56e;--color-green-bg: #e8fff3;--color-green-border: #50cd89;--color-yellow: #ef9e05;--color-yellow-bg: #fff6e5;--color-yellow-border: #ffe5b4;--color-blue: #3a75f9;--color-blue-bg: #ebf2ff;--color-blue-border: #d7e4f9;--color-gray: #484848;--color-gray-bg: #f3f3f3;--color-gray-border: #ccc; } 
    
.btn,
a.btn {--color-lightblue: #2ABFEF;--color-purple: #AF78C6;
--color-dark: #2c2c2c;--color-white: #fff;--color-disable: #f3f3f3;--color-border: #c0c0c0;--color-main: #5b73e8;--color-bg-after1: #496ae8;--color-bg-after2: #4c93f1;--color-txt-red: #ff3024;--color-txt-blue: #4b87ef;--color-txt-mint: #1cd0e0;--color-txt-blueBold: #223cb5;--color-txt-gray: #9a9a9a;

background: var(--color-blue) linear-gradient(to bottom, var(--color-blue), rgba(0, 0, 0, .02));border: 1px solid var(--color-blue);border-radius: 8px;display: inline-flex;align-items: center;font-size: 16px;line-height: 1.5;cursor: pointer;box-sizing: border-box;position: relative;overflow: hidden;color: #fff;word-break: keep-all;-webkit-transition: .25s all ease;-o-transition: .25s all ease;transition: .25s all ease;font-weight: 600;vertical-align: middle; } 

.btn:active::before,
a.btn:active::before {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.07);-webkit-transition: .25s all ease;-o-transition: .25s all ease;transition: .25s all ease; } 

.btn:active,
a.btn:active {text-decoration: none;-webkit-transition: .25s all ease;-o-transition: .25s all ease;transition: .25s all ease; } 

.btn:hover::before,
a.btn:hover::before {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .01);-webkit-transition: .25s all ease;-o-transition: .25s all ease;transition: .25s all ease; } 

.btn[class*="btn-outline"]:hover::before,
.btn[class*="btn-flat"]:hover::before {opacity: .1; background-color: var(--color-blue); } 

.btn[class*="btn-outline"].green:hover::before,
.btn[class*="btn-flat"].green:hover::before {background-color: var(--color-green); } 

.btn[class*="btn-outline"].red:hover::before,
.btn[class*="btn-flat"].red:hover::before {background-color: var(--color-red); } 

.btn[class*="btn-outline"].gray:hover::before,
.btn[class*="btn-flat"].gray:hover::before {background-color: var(--color-gray); } 

.btn[class*="btn-outline"].dark:hover::before,
.btn[class*="btn-flat"].dark:hover::before {background-color: var(--color-dark); } 

.btn-pos,
a.btn-pos {padding: 10px 20px; } 

.btn-lg,
a.btn-lg {font-size: 18px; padding: 20px; } 

.btn-sm,
a.btn-sm {font-size: 14px;padding: 10px 12px; max-height: 40px;} 

.btn-xsm,
a.btn-xsm {font-size: 14px; padding: 6px 12px;}

.btn-square,
a.btn-square {width: 30px; height: 30px; justify-content: center; padding: 0; }

.btn.btn-square i[class*="icon-"],
a.btn.btn-square i[class*="icon-"] {padding: 0;}

.btn.btn-outline.btn-outline-bg {background-color: var(--color-blue-bg);}
.btn.btn-outline.btn-outline-bg.green {background-color: var(--color-green-bg);}
.btn.btn-outline.btn-outline-bg.red {background-color: var(--color-red-bg);}
.btn.btn-outline.btn-outline-bg.gray {background-color: var(--color-gray-bg);}

.btn.green {border-color: var(--color-green-border);background: var(--color-green-bg);color: var(--color-green); } 

.btn.red {border-color: var(--color-red);background: var(--color-red) linear-gradient(var(--color-red), rgba(0, 0, 0, .01));color: #fff; } 

.btn.gray {border-color: var(--color-gray);background: var(--color-gray) linear-gradient(var(--color-gray), rgba(0, 0, 0, .01)); } 

.btn.dark {border-color: var(--color-dark);background: var(--color-dark) linear-gradient(var(--color-dark), rgba(0, 0, 0, .02)); } 

.btn.lightblue {border-color: var(--color-lightblue);background: var(--color-lightblue) linear-gradient(var(--color-lightblue), rgba(0, 0, 0, .02)); } 

.btn.gradient {border-color: transparent;background: var(--color-bg-after1) linear-gradient(45deg, var(--color-bg-after1), var(--color-bg-after2)); } 

.btn[class*="btn-outline"],
.btn[class*="btn-flat"] {border-color: var(--color-blue-border);background: transparent;color: var(--color-blue); } 

.btn[class*="btn-outline"].green,
.btn[class*="btn-flat"].green {border-color: var(--color-green-border);background: transparent;color: var(--color-green); } 

.btn[class*="btn-outline"].red,
.btn[class*="btn-flat"].red {border-color: var(--color-red-border);background: transparent;color: var(--color-red); } 

.btn[class*="btn-outline"].gray,
.btn[class*="btn-flat"].gray {border-color: var(--color-gray-border);background: transparent;color: var(--color-gray); } 

.btn[class*="btn-outline"].dark,
.btn[class*="btn-flat"].dark {background: transparent;color: var(--color-dark); border-color: var(--color-border);} 

.btn[class*="btn-outline"].white,
.btn[class*="btn-flat"].white {color: var(--color-dark); } 

.btn[class*="btn-outline"]:active::before,
.btn[class*="btn-flat"]:active::before {background-color: var(--color-blue);opacity: .2; } 

.btn[class*="btn-outline"].green:active::before,
.btn[class*="btn-flat"].green:active::before {background-color: var(--color-green); } 

.btn[class*="btn-outline"].red:active::before,
.btn[class*="btn-flat"].red:active::before {background-color: var(--color-red); } 

.btn[class*="btn-outline"].gray:active::before,
.btn[class*="btn-flat"].gray:active::before {background-color: var(--color-gray); } 

.btn[class*="btn-outline"].dark:active::before,
.btn[class*="btn-flat"].dark:active::before {background-color: var(--color-dark); } 

.btn[class*="btn-outline"].white:active::before,
.btn[class*="btn-flat"].white:active::before {background-color: var(--color-gray); } 

/* **************************************** *
 * table
 * **************************************** */
/*리스트*/
.board-title {margin-bottom: 16px;}
.board-title p { font-size: 18px;}
.board-title p i {display: inline-block; padding-right: 4px;}
.board-list table {width: 100%;border-collapse: separate;table-layout: fixed; } 
.board-list table td.td-left {text-align: left;}
.board-list table td.td-right {text-align: right;}

.board-list table>thead>tr>th {padding: 12px 4px; color: #252525;border-top: 1px solid #888;border-bottom: 1px solid #888; vertical-align: middle;}
.board-list table>thead>tr>th small {display: block;}
.board-list table>thead>tr>th:first-child {padding-left: 16px;border-left: 1px solid #888;border-top-left-radius: 10px;border-bottom-left-radius: 10px; }
.board-list table>thead>tr>th:last-child {padding-right: 16px;border-right: 1px solid #888;border-top-right-radius: 10px;border-bottom-right-radius: 10px; } 

.board-list table>tbody>tr>td {vertical-align: middle; padding: 16px 4px;color: #303030;font-weight: 400;text-align: center;border-top: 1px solid #ededed;border-bottom: 1px solid #ededed;vertical-align: middle;box-sizing: border-box; }
.board-list table>tbody>tr>td:first-child {padding-left: 16px;}
.board-list table>tbody>tr>td:last-child {padding-right: 16px; }
.board-list table>tbody>tr>td > a {display: block}

.board-list table>tfoot>tr:last-child td:first-child {border-bottom-left-radius: 10px; }
.board-list table>tfoot>tr:last-child td:last-child {border-bottom-right-radius: 10px;}


.board-list table>tfoot>tr>td {padding: 14px 4px; color: #111;font-weight: 600;text-align: center;border-top: 1px solid #fff;border-bottom: 1px solid #fff;vertical-align: middle;box-sizing: border-box; background-color: #f8f8f8} 
.board-list table>tfoot>tr>td.emp {background-color: #fdf0e2;}

.board-list table>tfoot>tr>td:first-child {padding-left: 16px;} 
.board-list table>tfoot>tr>td:last-child {padding-right: 16px; } 

/* 페이징 */
.boarder-paging {margin-top: 40px; } 
.paging-wrap {position: relative;display: flex;justify-content: center; } 
.paging-content {position: relative;display: flex;align-items: center;justify-content: center;height: 32px;text-align: center; } 
.paging-content>a {position: relative;display: block;min-width: 18px;height: 18px;font-size: 0px !important;background-color: #fff; } 
.paging-content>a:after,
.paging-content>a:before {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-position: center center;background-size: 18px auto;background-repeat: no-repeat; } 
.paging-content .btn-first:before {background-image: url(../img/layout/btn-paging-first.png); } 
.paging-content .btn-first:after {background-image: url(../img/layout/btn-paging-first-actived.png); } 
.paging-content .btn-prev:before {background-image: url(../img/layout/btn-paging-prev.png); } 
.paging-content .btn-prev:after {background-image: url(../img/layout/btn-paging-prev-actived.png); } 
.paging-content .btn-next:before {background-image: url(../img/layout/btn-paging-next.png); } 
.paging-content .btn-next:after {background-image: url(../img/layout/btn-paging-next-actived.png); } 
.paging-content .btn-last:before {background-image: url(../img/layout/btn-paging-last.png); } 
.paging-content .btn-last:after {background-image: url(../img/layout/btn-paging-last-actived.png); } 

.paging-content>a:before {opacity: 1; } 
.paging-content>a:after {opacity: 0; } 
.paging-content>a:hover:before {opacity: 0; } 
.paging-content>a:hover:after {opacity: 1; } 
.paging-content .paging-list {display: flex;align-items: center;margin: 0 8px; } 
.paging-content .paging-list>li {display: inline-flex;align-items: center;justify-content: center;min-width: 32px;padding: 0 2px; } 
.paging-content .paging-list>li a {position: relative;display: block;padding: 0 2px;padding: 0 10px;font-size: 16px;font-weight: 500;color: #252525;line-height: 30px;background-color: #fff;box-sizing: border-box; opacity: .4; } 
/* .paging-content .paging-list>li a:after {content: '';position: absolute;bottom: 0;left: 50%;width: 50%;height: 2px;background-color: #3361cd;transform: translateX(-50%);opacity: 0; }  */
.paging-content .paging-list>li a:hover,
.paging-content .paging-list>li a.actived {opacity: 1;  } 


.underline:hover {color: var(--color-blue); text-decoration: underline;}