/* **************************************** *
 * BUTTON
 * **************************************** */
/*새로*/
:root {
	--color-red: #fb3333;
	--color-blue : #2957ff;
	--color-green : #2dc24c;
	--color-gray : #82868b;
	--color-dark : #2c2c2c;
	--color-white : #fff;
	--color-disable : #f3f3f3;
	--color-border : #c0c0c0;
	--color-main : #5b73e8;
	--color-bg-after1 : #4865e7;
	--color-bg-after2 : #4c96f1;

	--color-txt-red : #ff3024;
	--color-txt-blue : #4876ef;
	--color-txt-mint : #00d3ab;
	--color-txt-blueBold : #223cb5;
	--color-txt-gray : #9a9a9a;
	--color-bg : #ecf0f7;

	/* light/dark */
	/*light*/
	--colorDefalut: #fff;
	--colorMainBg1: #4865e7;
	--colorMainBg2: #4c96f1;
	--colorBodyBg: #ecf0f7;
	--colorFg1: #252525;
	--colorFg2: #5b73e8;
	--colorAsideBg: #f3f8fb;
	--colorAsideFt: #5b73e8;
	--colorHeaderI: #5b73e8;
	--colorFtBg: #fff;

}
.btn,
a.btn {
    background: var(--color-blue) linear-gradient(to bottom, var(--color-blue), rgba(0,0,0,.02));
    border: 1px solid var(--color-blue);
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    line-height:1.5;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
	overflow:hidden;
	color:#fff;
	word-break:keep-all;
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
  }

.btn:active::before,
a.btn:active::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.07);
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}

.btn:active,
a.btn:active {
	text-decoration:none;
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}
.btn:hover::before,
a.btn:hover::before {
	content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0,0,0,.08);
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}
.btn[class*="btn-outline"]:hover::before,
.btn[class*="btn-flat"]:hover::before {
	opacity:.05;
	background-color: var(--color-blue);
}
.btn[class*="btn-outline"].green:hover::before,
.btn[class*="btn-flat"].green:hover::before{background-color: var(--color-green); }
.btn[class*="btn-outline"].red:hover::before,
.btn[class*="btn-flat"].red:hover::before{background-color: var(--color-red); }
.btn[class*="btn-outline"].gray:hover::before,
.btn[class*="btn-flat"].gray:hover::before{background-color: var(--color-gray); }
.btn[class*="btn-outline"].dark:hover::before,
.btn[class*="btn-flat"].dark:hover::before{background-color: var(--color-dark); }

.btn.gradient {border-color: transparent; background: var(--color-bg-after1) linear-gradient(45deg, var(--color-bg-after1), var(--color-bg-after2));}
.btn-pos,
a.btn-pos {padding: 0.9rem 1.5rem; }
.btn-lg,
a.btn-lg{font-size: 1.4rem; padding: 1.2rem 4rem;}
.btn-sm,
a.btn-sm{font-size: 1.1rem; padding: 0.6rem 1.2rem;}

.btn.green {border-color: var(--color-green); background:var(--color-green) linear-gradient(var(--color-green),rgba(0,0,0,.02));}
.btn.red {border-color: var(--color-red); background:var(--color-red) linear-gradient(var(--color-red),rgba(0,0,0,.02)); color:#fff; }
.btn.gray {border-color: var(--color-gray); background:var(--color-gray) linear-gradient(var(--color-gray),rgba(0,0,0,.02));}
.btn.dark {border-color: var(--color-dark); background:var(--color-dark) linear-gradient(var(--color-dark),rgba(0,0,0,.02));}

.btn[class*="btn-outline"],
.btn[class*="btn-flat"] {background: transparent; color: var(--color-blue);}
.btn[class*="btn-outline"].green,
.btn[class*="btn-flat"].green {color:var(--color-green); }
.btn[class*="btn-outline"].red,
.btn[class*="btn-flat"].red {color:var(--color-red); }
.btn[class*="btn-outline"].gray,
.btn[class*="btn-flat"].gray {color:var(--color-gray); }
.btn[class*="btn-outline"].dark,
.btn[class*="btn-flat"].dark {color:var(--color-dark); }
.btn[class*="btn-outline"].white,
.btn[class*="btn-flat"].white {color:var(--color-dark); }

.btn[class*="btn-outline"]:active::before,
.btn[class*="btn-flat"]:active::before{
	background-color: var(--color-blue);
	opacity: .2;
}
.btn[class*="btn-outline"].green:active::before,
.btn[class*="btn-flat"].green:active::before {background-color: var(--color-green);}
.btn[class*="btn-outline"].red:active::before,
.btn[class*="btn-flat"].red:active::before {background-color: var(--color-red);}
.btn[class*="btn-outline"].gray:active::before,
.btn[class*="btn-flat"].gray:active::before {background-color: var(--color-gray);}
.btn[class*="btn-outline"].dark:active::before,
.btn[class*="btn-flat"].dark:active::before {background-color: var(--color-dark);}
.btn[class*="btn-outline"].white:active::before,
.btn[class*="btn-flat"].white:active::before {background-color: var(--color-gray);}

.btn.round {border-radius: 30px;}

.btn[class*="btn-flat"] {border: transparent;}

.btn i[class*="icon-"] {padding-right: .5rem;}
.btn.btn-icon{padding: 1.2rem}
.btn.btn-icon i[class*="icon-"]{padding-right: 0;}

/* **************************************** *
 * table
 * **************************************** */
/*리스트*/
.board-title {margin-bottom: 16px;}
.board-title p { font-size: 18px;}
.board-title p i {display: inline-block; padding-right: 4px;}
.board-list table {width: 100%;border-collapse: separate;table-layout: fixed; } 
.board-list table td.td-left {text-align: left;}
.board-list table td.td-right {text-align: right;}

.board-list table>thead>tr>th {padding: 12px 4px; color: #252525;border-top: 1px solid #888;border-bottom: 1px solid #888; vertical-align: middle;}
.board-list table>thead>tr>th small {display: block;}
.board-list table>thead>tr>th:first-child {padding-left: 16px;border-left: 1px solid #888;border-top-left-radius: 10px;border-bottom-left-radius: 10px; }
.board-list table>thead>tr>th:last-child {padding-right: 16px;border-right: 1px solid #888;border-top-right-radius: 10px;border-bottom-right-radius: 10px; } 

.board-list table>tbody>tr>td {vertical-align: middle; padding: 16px 4px;color: #303030;font-weight: 400;text-align: center;border-top: 1px solid #ededed;border-bottom: 1px solid #ededed;vertical-align: middle;box-sizing: border-box; }
.board-list table>tbody>tr>td:first-child {padding-left: 16px;}
.board-list table>tbody>tr>td:last-child {padding-right: 16px; }
.board-list table>tbody>tr>td > a {display: block}

.board-list table>tfoot>tr:last-child td:first-child {border-bottom-left-radius: 10px; }
.board-list table>tfoot>tr:last-child td:last-child {border-bottom-right-radius: 10px;}


.board-list table>tfoot>tr>td {padding: 14px 4px; color: #111;font-weight: 600;text-align: center;border-top: 1px solid #fff;border-bottom: 1px solid #fff;vertical-align: middle;box-sizing: border-box; background-color: #f8f8f8} 
.board-list table>tfoot>tr>td.emp {background-color: #fdf0e2;}

.board-list table>tfoot>tr>td:first-child {padding-left: 16px;} 
.board-list table>tfoot>tr>td:last-child {padding-right: 16px; } 
.boarder-paging {margin-top: 40px; } 